<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet-basics-config</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  1 servlet isimi ve 2 hangi class ile ulasacagi 3 calistirma sirasi   -->
  <servlet>
  <servlet-name>GreetingServlet</servlet-name>
  <servlet-class>com.servlet.demo.GreetingServlet</servlet-class>
  <load-on-startup>1</load-on-startup> <!-- calistirmak icin  -->
  </servlet>
  <!--  mapping servlet yayinlama icin   -->
  <servlet-mapping> 
  <servlet-name>GreetingServlet</servlet-name>
  <url-pattern>/greeting</url-pattern>   <!-- /greeting diyerek cagirliyor (browserden)  -->
  </servlet-mapping>
  
<!--  <filter>  web tabanli ile filter tanimlama 
  <filter-name> ServletFilter</filter-name>
  <filter-class>com.servlet.demo.filtre.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name> Filter</filter-name>
  <url-pattern>/greeting</url-pattern>
  </filter-mapping>
 -->   
  <servlet>
  <servlet-name>Empty</servlet-name>
  <servlet-class>com.servlet.demo.annotion.Empty</servlet-class>
  <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>Empty</servlet-name>
  <url-pattern>/empty</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>